HUGGINGFACE_TOKEN=your_huggingface_token

MODEL_NAME=mistralai/Mistral-7B-Instruct-v0.2

FAISS_INDEX_PATH=data/faiss_index

EVAL_LOG_PATH=data/eval_log.csv

DISEASE_CSV_PATH=data/raw/disease_symptom.csv

QA_CSV_PATH=data/raw/medical_qa.csv
